<%= render partial: "navbar", locals: {active: "other"} %>
<div class=page-body>
    <div class="last-update">
        <span class="under-value slightly-smaller">Last Update: <span class="slightly-smaller" id="last-update">0</span> s</span> 
    </div>
    <div class=graph>
        <h2> Acceleration Graph </h2>
        <%= line_chart "/get/accel/" + @f,
            xtitle: "Time", ytitle: "m/s²",
            id: "accel", height: "40em",
            discrete: true,
            library: @graphSettings,
            refresh: 5
        %>
    </div>
    <div class=graph>
        <h2> Gyro Graph </h2>
        <%= line_chart "/get/gyro/" + @f,
            xtitle: "Time", ytitle: "°",
            id: "gyro", height: "40em",
            discrete: true,
            library: @graphSettings,
            refresh: 5
        %>
    </div>
    <div class=graph>
        <h2> Orientation Graph </h2>
        <%= line_chart "/get/orientation/" + @f,
            xtitle: "Time", ytitle: "(deg/s)",
            id: "orientation", height: "40em",
            discrete: true,
            library: @graphSettings,
            refresh: 5
        %>
    </div>
    <div class=graph>
        <h2> RSSI Graph </h2>
        <%= line_chart "/get/rssi/" + @f,
            xtitle: "Time", ytitle: "RSSI",
            id: "rssi",
            discrete: true,
            library: @graphSettings,
            refresh: 5
        %>
    </div>
    <div class=graph>
        <h2> Altitude Graph </h2>
        <%= line_chart "/get/alt/" + @f,
            xtitle: "Time", ytitle: "m",
            colors: ["#f90"],
            id: "alt",
            discrete: true,
            library: @graphSettings,
            refresh: 5
        %>
    </div>
</div>