<%= render partial: "navbar", locals: {active: "other"} %>
<div class=page-body>
    <div class=graph>
        <h2> Acceleration Graph </h2>
        <%= line_chart "/get/accel",
            xtitle: "Time", ytitle: "m/s²",
            id: "accel", height: "40em",
            discrete: true,
            library: @graphSettings,
            refresh: 5
        %>
    </div>
    <div class=graph>
        <h2> Gyro Graph </h2>
        <%= line_chart "/get/gyro",
            xtitle: "Time", ytitle: "°",
            id: "gyro", height: "40em",
            discrete: true,
            library: @graphSettings,
            refresh: 5
        %>
    </div>
    <div class=graph>
        <h2> Orientation Graph </h2>
        <%= line_chart "/get/orientation",
            xtitle: "Time", ytitle: "(deg/s)",
            id: "orientation", height: "40em",
            discrete: true,
            library: @graphSettings,
            refresh: 5
        %>
    </div>
    <div class=graph>
        <h2> RSSI Graph </h2>
        <%= line_chart "/get/rssi",
            xtitle: "Time", ytitle: "RSSI",
            id: "rssi",
            discrete: true,
            library: @graphSettings,
            refresh: 5
        %>
    </div>
    <div class=graph>
        <h2> Altitude Graph </h2>
        <%= line_chart "/get/alt",
            xtitle: "Time", ytitle: "m",
            colors: ["#f90"],
            id: "alt",
            discrete: true,
            library: @graphSettings,
            refresh: 5
        %>
    </div>
</div>